global:
  # Slack webhook URL
  slack_api_url: '{{ monitoring_slack_api_url }}'

route:
  receiver: 'slack'

receivers:
  - name: 'slack'
    slack_configs:
      - channel: '{{ monitoring_slack_channel }}'
        send_resolved: true
        title: '{% raw %}{{ if eq .Status "firing" }}:scream:{{ else }}:party_parrot:{{ end }} [{{ .Status | toUpper }}] {{ range .Alerts }}{{ .Annotations.message }}{{ end }}{% endraw %}'
        text: >-
          {% raw %}{{ range .Alerts }}
            *Alert:* {{ .Annotations.summary }} - {{ .Labels.severity }}
            *Details:*
            {{ .Annotations.message }}
            {{ range .Labels.SortedPairs }} • *{{ .Name }}:* {{ .Value }}
            {{ end }}
          {{ end }}{% endraw %}
